{{ define "title" }}
<title>
  Pudding · Secure Simple Solution
</title>
{{ end }}

{{ define "content" }}
<header>
  
</header>

<section id="hero" class="hero-slider target-section" data-carousel>
  <div class="carousel-cell"
    style="background-image:url(static/assets/img/backgrounds/bg-everest.jpg); background-color: #fff;">
    <div class="overlay"></div>
    <div class="shadow-overlay shadow-overlay--left"></div>

    <div class="home-content">
      <div class="home-content__main main-slide">
        <div class="row wider home-content__landing landing-slide-02">
          <div class="col-seven md-ten tab-full home-content__landing-text">
            <h5 class="newage">New Age of Digital Alibi, PUDDING GOES BEYOND NETWORKS</h5>
            <h2 class="puddingtags">PUDDING TAGS,</h2>
            <h3 class="nextstep">THE NEXT STEP IN DIGITAL REVOLUTION!</h3>

            <ul class="home-icons--list">
              <li><img src="static/assets/img/icons/hero/icons8-vision-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-wi-fi-off-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-water-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-do-not-touch-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-calendar-5-100--light.png" alt=""></li>
            </ul>

            <ul class="home-features--list disc disc--light">
              <li>Digital Alibi</li>
              <li>Communicate without Internet</li>
              <li>Waterproof</li>
              <li>Tamperproof</li>
              <li>5-year Battery Life</li>
            </ul>

            <h3 class="puddingproof"><em>"THE PROOF IS IN THE PUDDING"</em></h3>

            <a href="solutions.html" class="pudding-btn primary-btn medium-btn">Let's Get Started</a>
          </div>

          <div class="col-five md-two hide-on-tablet home-content__landing-media">
            <div class="landing-media landing-media--top">
              <img src="static/assets/img/thumb/conquer-the-universe2.png" alt="">
            </div>

            <div class="landing-media landing-media--device">
              <img src="static/assets/img/thumb/device.png" alt="">
            </div>

            <div class="landing-media landing-media--person">
              <img src="static/assets/img/thumb/person.png" alt="">
            </div>

            <div class="landing-media landing-media--line2 hide-on-md">
              <img src="static/assets/img/thumb/line2.png" alt="">
            </div>

            <div class="landing-media landing-media--code">
              <div class="landing-code--box">
                <div class="landing-code">5A3HE6</div>
                <div class="landing-details">
                  <div class="landing-details--date">Date: 12/20/2021</div>
                  <div class="landing-details--time">Time: 1650 hours</div>
                  <div class="landing-details--location">Location: Mt. Everest</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="carousel-cell"
    style="background-image:url(static/assets/img/backgrounds/bg-space.jpg); background-color: #fff;">
    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">
      <div class="home-content__main main-slide">
        <div class="row wider home-content__landing">
          <div class="col-seven md-ten tab-full home-content__landing-text">
            <h5 class="newage">New Age of Digital Alibi, PUDDING GOES BEYOND NETWORKS</h5>
            <h2 class="puddingtags">PUDDING TAGS,</h2>
            <h3 class="nextstep">THE NEXT STEP IN DIGITAL REVOLUTION!</h3>

            <ul class="home-icons--list">
              <li><img src="static/assets/img/icons/hero/icons8-vision-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-wi-fi-off-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-water-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-do-not-touch-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-calendar-5-100--light.png" alt=""></li>
            </ul>

            <ul class="home-features--list disc disc--light">
              <li>Digital Alibi</li>
              <li>Communicate without Internet</li>
              <li>Waterproof</li>
              <li>Tamperproof</li>
              <li>5-year Battery Life</li>
            </ul>

            <h3 class="puddingproof"><em>"THE PROOF IS IN THE PUDDING"</em></h3>

            <a href="solutions.html" class="pudding-btn primary-btn medium-btn">Let's Get Started</a>
          </div>

          <div class="col-five md-two hide-on-tablet home-content__landing-media">
            <div hidden class="landing-media landing-media--top">
              <img src="static/assets/img/thumb/conquer-the-universe.png" alt="">
            </div>

            <div class="landing-media landing-media--main">
              <img src="static/assets/img/thumb/astro-sat.png" alt="">
            </div>

            <!-- <div class="landing-media landing-media--astro">
                  <img src="static/assets/img/thumb/astronaut-and-satellite.png" alt="">
                </div>
                
                <div class="landing-media landing-media--sat">
                  <img src="static/assets/img/thumb/astronaut-and-satellite.png" alt="">
                </div> -->

            <span class="landing-media landing-media--circle">
              <img class="token-circle" src="static/assets/img/thumb/circle-dark.png" alt="">
            </span>

            <span class="landing-media landing-media--circle">
              <img class="token-circle--futuristic" src="static/assets/img/thumb/circle-future.png" alt="">
            </span>

            <span class="landing-media landing-media--token">
              <img class="token-device" src="static/assets/img/thumb/token.png" alt="">
            </span>

            <span class="landing-media landing-media--line">
              <img class="token-line" src="static/assets/img/thumb/line.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-cell"
    style="background-image:url(static/assets/img/backgrounds/bg-eye-lineman.jpg); background-color: #fff;">
    <div class="overlay"></div>
    <div class="shadow-overlay shadow-overlay--left"></div>

    <div class="home-content">
      <div class="home-content__main main-slide">
        <div class="row wider home-content__landing landing-slide-03">
          <div class="col-seven md-ten tab-full home-content__landing-text">
            <h5 class="newage">New Age of Digital Alibi, PUDDING GOES BEYOND NETWORKS</h5>
            <h2 class="puddingtags">PUDDING TAGS,</h2>
            <h3 class="nextstep">THE NEXT STEP IN DIGITAL REVOLUTION!</h3>

            <ul class="home-icons--list">
              <li><img src="static/assets/img/icons/hero/icons8-vision-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-wi-fi-off-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-water-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-do-not-touch-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-calendar-5-100--light.png" alt=""></li>
            </ul>

            <ul class="home-features--list disc disc--light">
              <li>Digital Alibi</li>
              <li>Communicate without Internet</li>
              <li>Waterproof</li>
              <li>Tamperproof</li>
              <li>5-year Battery Life</li>
            </ul>

            <h3 class="puddingproof"><em>"THE PROOF IS IN THE PUDDING"</em></h3>

            <a href="solutions.html" class="pudding-btn primary-btn medium-btn">Let's Get Started</a>
          </div>

          <div class="col-five md-two hide-on-tablet home-content__landing-media">
            <div class="landing-media landing-media--top">
              <img src="static/assets/img/thumb/conquer-the-universe3.png" alt="">
            </div>

            <div class="landing-media landing-media--device">
              <img src="static/assets/img/thumb/device.png" alt="">
            </div>
            
            <div class="landing-media landing-media--line3">
              <img src="static/assets/img/thumb/line3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-cell"
    style="background-image:url(static/assets/img/backgrounds/bg-ocean.jpg); background-color: #fff;">
    <div class="overlay"></div>
    <div class="shadow-overlay shadow-overlay--left"></div>

    <div class="home-content">
      <div class="home-content__main main-slide">
        <div class="row wider home-content__landing landing-slide-04">
          <div class="col-seven md-ten tab-full home-content__landing-text">
            <h5 class="newage">New Age of Digital Alibi, PUDDING GOES BEYOND NETWORKS</h5>
            <h2 class="puddingtags">PUDDING TAGS,</h2>
            <h3 class="nextstep">THE NEXT STEP IN DIGITAL REVOLUTION!</h3>

            <ul class="home-icons--list">
              <li><img src="static/assets/img/icons/hero/icons8-vision-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-wi-fi-off-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-water-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-do-not-touch-100--light.png" alt=""></li>
              <li><img src="static/assets/img/icons/hero/icons8-calendar-5-100--light.png" alt=""></li>
            </ul>

            <ul class="home-features--list disc disc--light">
              <li>Digital Alibi</li>
              <li>Communicate without Internet</li>
              <li>Waterproof</li>
              <li>Tamperproof</li>
              <li>5-year Battery Life</li>
            </ul>

            <h3 class="puddingproof"><em>"THE PROOF IS IN THE PUDDING"</em></h3>

            <a href="solutions.html" class="pudding-btn primary-btn medium-btn">Let's Get Started</a>
          </div>

          <div class="col-five md-two hide-on-tablet home-content__landing-media">
            <div class="landing-media landing-media--top">
              <img src="static/assets/img/thumb/weatherproof.png" alt="">
            </div>

            <div class="landing-media landing-media--device">
              <img src="static/assets/img/thumb/device.png" alt="">
            </div>

            <div class="landing-media landing-media--person">
              <img src="static/assets/img/thumb/diver.png" alt="">
            </div>
            
            <div class="landing-media landing-media--line4">
              <img src="static/assets/img/thumb/line4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "script" }}
<script>
  var options = {
    autoPlay: 5000,
    pauseAutoPlayOnHover: false,
    accessibility: true,
    draggable: true,
    fade: true,
    prevNextButtons: false,
    pageDots: true,
    setGallerySize: false,
    arrowShape: {
      x0: 10,
      x1: 60,
      y1: 50,
      x2: 60,
      y2: 45,
      x3: 15
    }
  };

  var $carousel = $('[data-carousel]').flickity(options);
  var $slideContent = $('.home-content');
  var flkty = $carousel.data('flickity');
  var selectedSlide = flkty.selectedElement;

  flkty.on('settle', function (index) {
    selectedSlide = flkty.selectedElement;
  });

  flkty.on('change', function (index) {
    $slideContent.eq(index).removeClass('mask');

    setTimeout(function () {
      $slideContent.addClass('mask');
    }, 500);
  });

  flkty.on('dragStart', function (event) {
    var index = 0;
    selectedSlide = flkty.selectedElement;

    if (event.layerX > 0) { // direction right
      index = $(selectedSlide).index() + 1;
    } else { // direction left
      index = $(selectedSlide).index() - 1;
    }

    $slideContent.eq(index).removeClass('mask');
  });

  setTimeout(function () {
    $slideContent.addClass('mask');
  }, 500);
</script>
{{ end }}