{{ define "title" }}
<title>
    Order Locator · Solutions | Pudding
</title>
{{ end }}
{{ define "content" }}
<section id="solutions-hero" class="s-hero hero--dark target-section">
    <div class="row narrower section-header">
        <div class="col-full md-full tab-full mob-full center-align">
            <h3 class="subhead" data-aos="fade-up" data-aos-duration="100">Solutions</h3>

            <h1 class="display-1" data-aos="fade-up" data-aos-duration="200">Order Locator</h1>

            <p data-aos="fade-up" data-aos-duration="300">
                Pudding tags will be assigned to restaurant tables, or hotel rooms thereby ensuring that each service or order request is by someone physically present where the tag is placed. The generated OTP will return the info of the table or room assignment, and the date and time of activation.
            </p>

            <a href="signup.html" class="pudding-btn primary-btn medium-btn" data-aos="fade-up" data-aos-duration="500">Get Started</a>
            <a href="#order" class="pudding-btn secondary-btn main-sec medium-btn smoothscroll" data-aos="fade-up" data-aos-duration="600">Learn More <i class="fas fa-chevron-down"></i></a>
        </div>
    </div>
</section>

<section id="order" class="s-section section--grey-light target-section">
    <div class="row">
        <div class="col-six tab-full">
            <h2>For Restaurant</h2>

            <img src="static/assets/img/solutions/olr.jpg" alt="order locator for restaurant">
        </div>
        <div class="col-six tab-full">
            <h2>For Hotel</h2>

            <img src="static/assets/img/solutions/olh.jpg" alt="order locator for hotel">
        </div>
    </div>
</section>

<section id="more-solutions" class="s-section section--light target-section">
    <div class="row">
        <div class="col-full">
            <h1>Up Next</h1>
        </div>

        <div class="col-six mob-full more-solutions-block">
            <a href="property-sector-management">
                <img src="static/assets/img/illustrations/solutions--property-sector.svg" alt="property sector illustration">

                <h3>Property Sector Management</h3>
            </a>
        </div>
        <div class="col-six mob-full more-solutions-block">
            <a href="order-locator">
                <img src="static/assets/img/illustrations/solutions--assets.svg" alt="asset management illustration">

                <h3>Asset Management</h3>
            </a>
        </div>
    </div>
</section>
{{ end }}