{{ define "title" }}
<title>
  Property Sector Management · Solutions | Pudding
</title>
{{ end }}
{{ define "content" }}
<section id="solutions-hero" class="s-hero hero--dark target-section">
  <div class="row section-header">
    <div class="col-six md-seven tab-full mob-full">
      <!-- <span class="counter">01</span> -->

      <h3 class="subhead">Solutions</h3>

      <h1 class="display-1" data-aos="fade-up" data-aos-duration="200">Property Sector Management</h1>

      <p data-aos="fade-up" data-aos-duration="300">
        With your roving security, ensure that every sector of your property is visited and checked during their shift. Install a Pudding Tag within a sector of your property and have your roving security activate the tag to provide an OTP that would return the time and date of the activation. Submission of this OTP by your security personnel ensures that they were present in that sector at the time of activation.
      </p>

      <p data-aos="fade-up" data-aos-duration="400">
        The Pudding Tag can be mounted or installed anywhere, as it is weatherproof, and does not require electricity or
        internet to work. Guaranteed to last 5 years.
      </p>

      <a href="signup.html" class="pudding-btn primary-btn medium-btn" data-aos="fade-up" data-aos-duration="500">Get Started</a>
      <a href="#" class="pudding-btn secondary-btn main-sec medium-btn smoothscroll" data-aos="fade-up" data-aos-duration="600">Learn More <i class="fas fa-chevron-down"></i></a>
    </div>

    <div class="col-six md-five tab-full mob-full">
      <img src="static/assets/img/solutions/psm.png" alt="property-sector-management illustration" class="mt-20" data-aos="fade-left"
        data-aos-duration="500">
    </div>
  </div>
</section>

<section id="more-solutions" class="s-section section--light target-section">
  <div class="row">
      <div class="col-full">
          <h1>Up Next</h1>
      </div>

      <div class="col-six mob-full more-solutions-block">
          <a href="assets-management">
              <img src="static/assets/img/illustrations/solutions--assets.svg" alt="assets management illustration" data-aos="fade-right" data-aos-duration="200">

              <h3 data-aos="fade-right" data-aos-duration="300">Assets Management</h3>
          </a>
      </div>
      <div class="col-six mob-full more-solutions-block">
          <a href="geo-locator">
              <img src="static/assets/img/illustrations/solutions--geo-locator.svg" alt="geo locator illustration" data-aos="fade-left" data-aos-duration="200">
  
              <h3 data-aos="fade-left" data-aos-duration="300">Geo Locator</h3>
          </a>
      </div>
</section>
{{ end }}